/* Default Style */
body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}


h1 {
    font-size: 100px;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
    margin-top: 160px;
}

h1.maps{
    font-size: 300px;
    font-weight: bold;
    text-align: left;
    margin-left: 600px;
    line-height: 10px;
    margin-bottom: 500px;
    margin-top: 120px;
}

.intro {
    font-size: 40px;
    line-height: 1.6;
    max-width: 1300px;
    margin: 0 auto 20px;
}

/* Zoom in on the card while hover */
.block-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* Links Image Style */
.link-block img {
    width: 50%;
    max-width: 300px;
    height: auto;
}

/* image */
.image-block img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Video */
.video-block video {
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
}
/* Text */
.text-block blockquote {
    font-size: 1.2em;
    font-style: italic;
    padding-left: 10px;
    border-left: 3px solid #4CAF50;
}

/* PDF */
.pdf-block embed {
    width: 60%;
    height: 500px;
    border-radius: 8px;
}

footer {
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    color: #666;
}

/* website size */
@media (min-width: 1024px) {
    .image-block img {
        width: 60%;
        max-width: 300px;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    }
}

    .pdf-block img {
        width: 60%;
        max-width: 300px;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    }

    .audio-block img {
        width: 60%;
        max-width: 300px;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    }

/* Mobile size */
@media (max-width: 375px) {
    .image-block img {
        width: 100%;
        border-radius: 4px;
        box-shadow: none;
    }
}
